body {
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.icon {
    margin: 40px auto;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.b {
    display: inline-block;
    background-color: black;
    width: 80px;
}
.pb {
    width: 100%;
}
.bio {
    width: 50%;
    margin: auto;
}
h2 {
    width: 25%;
}
hr {
    width: 70%;
    margin: 20px auto;
}